@import url(pygments.css);
@import url(reset.css);

html{
    font-family:'Helvetica Neue', Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
}

/* General stuff taken from bettermotherfuckingwebsite.com */
body {
    margin:40px auto;
    max-width:600px;
    line-height:1.6;
    font-size:18px;
    padding:0 10px;
    background-color: #f2f2f2;
}
    
h1,h2,h3 {
    line-height:1.2;
}

/* Header, Banner etc*/
.sitetitle {
    font-size: 4em;
    font-weight:300;
}

/* Footer */

footer {
    font-size: small;
}

/* Article specific */

article * li {
    line-height: 1.1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 1.5em;
}

article ul,ol {
    padding-bottom:1.5em;
    /*margin-bottom: 1.4em;*/
}

article p {
    margin-bottom: 1.5em;
    line-height: 1.3em;
    text-align: justify;
}

article h1 {
    padding-bottom: 1em;
    font-size: 1.4em;
}

article h2 {
    padding-bottom: 0.9em;
    font-size: 1.2em;
}

article h3 {
    padding-bottom: 0.8em;
    font-size: 1em;
}

/* Links. */

a { /* Generic link styling, greyish and underlined. */
    color: #2E2E2E;
    text-decoration: underline;
    -o-transition:color .2s ease-in-out;
    -webkit-transition:color .2s ease-in-out;
    -moz-transition:color .2s ease-in-out;
    transition:color .2s ease-in-out;
}

.nodec {
    /* Links that aren't just in content areas shouldn't be underlined */
    text-decoration: none;
}

a:hover { /* Hover style: transition to orange. Cool! */
    -o-transition:color .2s ease-in-out;
    -webkit-transition:color .2s ease-in-out;
    -moz-transition:color .2s ease-in-out;
    transition:color .2s ease-in-out;
    color: orange;
}

/* Menu */

#menu {
    display: block;
    background-color: red;
    border-radius: 5px;
    text-align: center;
}

#menu ul li {
    display: inline;
    float: left;
    margin: 0;
}

#menu * a {
    text-decoration:none;
    display: inline-block;
    height:30px;
    padding-left: 0.8em;
    padding-right: 0.8em;
}

#menu * a:hover {
    -o-transition:background-color .2s ease-in-out;
    -webkit-transition:background-color .2s ease-in-out;
    -moz-transition:background-color .2s ease-in-out;
    transition:background-color .2s ease-in-out;
    background-color: #bedead;
}

.active {
    background-color: #bedead;
}

/* Generic to all content. */

#content * img {
    display: block;
    margin: 0 auto 0 auto;
    max-width: 550px;
    height: auto;
}

#content ol, #content ul {
    position: relative;
    left: 40px;
    padding-bottom: 20px;
}

/* Posts lists */

#post-list {
    list-style-type:none;
    list-style-position: outside;
}

#post-list li {
    max-width:550px;
    /* handle multiline */
    overflow: visible;
    padding-left: 29px;
    position: relative;
}

#post-list li:before {
/* your own marker in content */
    content: "├─";
    /*margin: 0 1em;*/
    left: 0;
    position: absolute;
}


/* Blockquotes */

article blockquote {
    font-size: 0.9em;
    font-style: italic;
    border-left: 3px solid #ccc;
    margin-left: 30px;
    padding-left: 10px;
    margin-bottom: 30px;
}

/* Comments from Pelican Comment System*/

#comment-button {
	background-color:transparent;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	height:50px;
	padding:10px;
	line-height:50px;
	text-align:center;
	text-decoration: none;
}

#comment-button:active {
	position:relative;
	top:1px;
}	

/* Code */

.codehilite, .highlight { /* Put code blocks in the right place. */
    background-color:#303030;
    width: inherit;
    margin: 0 0 0 0;
    margin-bottom: 20px;
    overflow: auto;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

article pre {
    font-family: "Liberation Mono Regular", monospace;
    font-size: .8em;
    margin: auto;
    padding: 1em;
    line-height: 120%;
}

article code {
    font-family: "Liberation Mono Regular", monospace;
	font-size:0.9em;
	color: #d14;
	background-color: #f7f7f9;
	border-radius: 3px;
	border: 1px solid #e1e1e8;
	padding:2px 4px;
	white-space: nowrap;
}
